@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --dark: #2C3A47;
    --light: #f1f2f6; 
    --primary: #40739e;
    --secondary: #48dbfb;
    --compliment: #ffb142;
  }

body{
  background-color: var(--light);
}

.input-text{
  @apply focus:outline-none focus:border-yellow-500 transition delay-100 ease-in-out border-2 border-gray-600 rounded-md p-2 font-light;
}

.form-label{
  @apply mb-2 text-gray-800 text-sm font-medium;
}

.card{
  @apply shadow-md rounded-md;
}